body {



    background-color: rgb(230, 230, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.big
{


    font-size: 30px;
}

.uppercase {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-transform: uppercase;
}

.medium{

    font-size: medium;
}

h1{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}